[submodule "plugins/backlog"]
	path = plugins/backlog
	url = https://github.com/cyotee/cyotee-claude-plugin-backlog.git
[submodule "plugins/design"]
	path = plugins/design
	url = https://github.com/cyotee/cyotee-claude-plugin-design.git
[submodule "plugins/up"]
	path = plugins/up
	url = https://github.com/cyotee/cyotee-claude-plugin-up.git
[submodule "plugins/foundry"]
	path = plugins/foundry
	url = https://github.com/cyotee/foundry-skills.git
[submodule "plugins/homunculus"]
	path = plugins/homunculus
	url = https://github.com/cyotee/homunculus.git
[submodule "plugins/balancer-v3"]
	path = plugins/balancer-v3
	url = https://github.com/cyotee/balancer-v3-skill.git
[submodule "plugins/aave-v3"]
	path = plugins/aave-v3
	url = https://github.com/cyotee/aave-v3-skill.git
[submodule "plugins/aave-v4"]
	path = plugins/aave-v4
	url = https://github.com/cyotee/aave-V4-skill.git
[submodule "plugins/aerodrome"]
	path = plugins/aerodrome
	url = https://github.com/cyotee/aerodrome-skill.git
[submodule "plugins/compound-v3-comet"]
	path = plugins/compound-v3-comet
	url = https://github.com/cyotee/compound-V3-comet-skill.git
[submodule "plugins/euler-lending"]
	path = plugins/euler-lending
	url = https://github.com/cyotee/euler-lending-skill.git
